<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="WARN" target="SYSTEM_ERR">

    <Properties>
        <Property name="logPattern">${sys:logPattern}</Property>
    </Properties>

    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="${logPattern}"/>
        </Console>

        <RollingFile name="CatchAllAppender" filename="logs/server/default.log" append="true">
            <filepattern>logs/default.%d{YYYYMMdd_HH.mm.ss}.log.gz</filepattern>
            <PatternLayout pattern="${logPattern}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="logs" maxDepth="1">
                    <IfFileName glob="*.log.gz"/>
                    <IfLastModified age="7d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="ConsoleAppender"/>
        </Root>
    </Loggers>

</Configuration>